.navbar {
  background: url("../img/header.png");
  margin: 2rem;
  width: 97%;
  position: fixed;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  border-radius: 1.6rem;
  z-index: 10000;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 10px;!important;
  display: flex;
}
.navbar li {
  margin-right: 30px;
  padding: 14px 0;
  width: 100px;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 1rem;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 100%;
  padding: 14px 0;
  margin: 0;
}
.navbar li:hover {
  background: var(--navbar-gradient);
  scale: 1.1;
  border-radius: 1rem;
}
:root {
  --navbar-gradient: linear-gradient(
    to bottom,
    rgba(255, 215, 189, 0) 0%,
    rgba(255, 215, 189, 0) 50%,
    #ffe1bb 100%
  );
}
